*.tar.gz
*.whl
*egg-info/
dist/

.mypy_cache/

*.deb
debian/.debhelper/
debian/*.debhelper.log
debian/*.postinst.debhelper
debian/*.substvars
debian/*/
debian/files


# Fixtures for debugging
files/droplet.json

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
