Source: innisfree
Section: rust
Priority: extra
Maintainer: Conor Schaefer <conor.schaefer@gmail.com>
Build-Depends:
Standards-Version: 3.9.5

Package: innisfree
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${misc:Depends}, libcap2-bin
Description: Exposes local services via remote IPv4
