{%- set wg = wireguard_device -%}
[Interface]
# Interface: {{ wg.interface.name }}
PrivateKey = {{ wg.interface.keypair.private }}
# Hardcode /30 subnet for two hosts
# Trying /24 in case that helps?
Address = {{ wg.interface.address }}/24
#DNS = 1.1.1.1, 1.0.0.1
{% if wg.interface.listenport -%}
ListenPort = {{ wg.interface.listenport }}
{%- endif %}

[Peer]
# Peer: {{ wg.peer.name }}
PublicKey = {{ wg.peer.keypair.public }}
{% if wg.peer.endpoint %}
Endpoint = {{ wg.peer.endpoint }}:{{ wg.peer.listenport }}
{% endif %}
PersistentKeepalive = 25
AllowedIPs = {{ wg.peer.address }}/32
